streamlit==1.49.0
streamlit-autorefresh==1.0.1
openai==1.55.3
pandas==2.3.2
fpdf==1.7.2
requests==2.32.5
firebase-admin==7.1.0
python-docx==1.2.0
gtts==2.5.4
bcrypt==4.3.0
streamlit-oauth==0.1.14
streamlit-quill==0.0.3
beautifulsoup4==4.13.5 
fastapi==0.116.1
flask==3.0.3
uvicorn==0.35.0
pytest==8.4.1
rapidfuzz==3.13.0
flake8==7.1.1
extra-streamlit-components>=0.1.63
rich==14.1.0
streamlit-cookies-controller==0.0.4
